examples/WebService/service-client/src/wsdl/WebServiceExampleImplService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6.--><xsd:schema targetNamespace="http://web.java.neuron.hu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://web.java.neuron.hu/">
  <xsd:complexType name="echoServiceResponse">
    <xsd:sequence>
      <xsd:element name="response" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="echoService">
    <xsd:sequence>
      <xsd:element name="message" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="echoServiceResponse" type="ns0:echoServiceResponse"/>
  <xsd:element name="echoService" type="ns0:echoService"/>
</xsd:schema>